@font-face {
  font-family: "digital-7";
  font-style: normal;
  font-weight: 400;
  src: url("./digital-7/digital-7.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #45484d;
}

.header {
  margin-bottom: 20px;
}

.calculator {
  font-family: digital-7;
  width: 300px;
  margin: auto;
  padding: 10px;
  padding-bottom: 15px;
  background-color: #ebddd2;
  border-radius: 5px;
}

.mode-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-right: 5px;
}

.mode {
  color: #a1baa4;
  background-color: #1a1d1d;
  width: 25%;
  padding: 3px;
  font-size: 14px;
  text-shadow: 1px 1px rgb(122, 127, 135);
  border-radius: 3px;
  text-align: center;
}

.screen {
  background-color: #a1baa4;
  border: 10px solid #363b41;
  border-top-width: 20px;
  border-bottom-width: 18px;
  margin-bottom: 5px;
  font-size: 20px;
  box-shadow: inset 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-shadow: 1px 1px rgb(122, 127, 135);
}

.display-operations {
  padding: 10px;
}

.display-result {
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.button {
  color: #e5e1d5;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
}

.button:active {
  border: 0;
}

.clear {
  width: 47%;
  background-color: #ec6c15;
  border: 0;
  border-bottom: #b54a00 8px solid;
  border-radius: 10px;
}

.equal {
  width: 47%;
  background-color: #24a19d;
  border: 0;
  border-bottom: #1b7870 8px solid;
}

.number {
  width: 23%;
  background-color: #45484d;
  border: 0;
  border-bottom: #1a1d1d 8px solid;
}

.divide {
  width: 23%;
  background-color: #e3bb1d;
  border: 0;
  border-bottom: #a87217 8px solid;
}

.multiply {
  width: 23%;
  background-color: #c32d2c;
  border: 0;
  border-bottom: #8f2520 8px solid;
}

.minus {
  width: 23%;
  background-color: #8a7bd7;
  border: 0;
  border-bottom: #463a85 8px solid;
}

.plus {
  width: 23%;
  background-color: #47ad2e;
  border: 0;
  border-bottom: #358522 8px solid;
}

.bottom {
  width: 36%;
}
